:root {
  --growFactor: 0.2;
  --speakerAnimation: bounceSpeaker 1.2s ease-in-out infinite;
}
* {
  transition: all ease-out 100ms;
}

/* ======================== MENU SLIDE ======================= */
@media (max-width: 825px) {
  #menu {
    transform: translateX(100%);
    transition: all ease 400ms;
  }

  #menu[data-visible="true"] {
    transform: translateX(0%);
  }
}

/* ======================== SPEAKER BOUNCE =================== */
#speaker:hover > #small_p {
  --minRadius: 26px;
  animation: var(--speakerAnimation);
}
#speaker:hover > #large_p {
  --minRadius: 54px;
  animation: var(--speakerAnimation);
}
@keyframes bounceSpeaker {
  0%,
  50%,
  100% {
    r: var(--minRadius);
  }
  12.5% {
    r: calc(var(--minRadius) * (1 + var(--growFactor)));
  }
  25% {
    r: calc(var(--minRadius) * (1 + var(--growFactor) / 3));
  }
  37.5% {
    r: calc(var(--minRadius) * (1 + var(--growFactor)));
  }
}
