@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  line-height: 1.2 !important;
}

a {
  color: inherit;
  text-decoration: none;
  /* Give us more clickable space */
  padding: 1rem;
  margin: -1rem;
}

p,
a {
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}
